/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* new css */
body{
	font-family: 'IM Fell English SC', serif;
}
#innerBody{
	padding: 1%;
}
.onlyShowInDesktop{
    visibility: hidden;
}
#navMain {
    padding-top: 1%;
	display: flex;
}
#navMain > li {
	text-align: center;
	flex-grow: 1;
}
.portfolioimage {
	width: 20%;
	border-radius: 30px/10px;
	border: 5px solid rgb(240, 230, 225);
}
.portfolioImage:hover{
	border: 3px solid #318F9F;
}
.fab {
	text-decoration: none;
	color: rgb(235, 183, 158);
  }
  a > .fab:hover {
	color: #318F9F;
  }
  #social_icons{
	font-size: 40px;
	text-align: center;
  }
  #social_icons a {
	padding-left: 5px;
	padding-right: 5px;
  }
  footer {
	padding: 1%;
	background: linear-gradient( white, white, rgb(230, 185, 163));
  }


/* tablet */
@media only screen and (min-width: 768px) {
}


/* desktop */
@media only screen  and (min-width : 1224px) {
	#leftPanel{
		width: 20%;
	}
    .onlyShowInDesktop{
        visibility: visible;
	}
	.portfolioimage {
		width: 16%;
	}
	#social_icons{
		font-size: 20px;
		text-align: center;
		height: 85px;
	  }
}